<div class='<%= build.status %>' id='build'>
  <h1>Build <%= build.sha[0..7] %> <%= build.status %></h1>
  <h2>Git Log:</h2>
  <pre class='output'><%= h(build.git) %></pre>
  <h2>Build Output:</h2>
  <pre class='output'><%= h(build.output) %></pre>
</div>
